{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Netflix Carousel</title>
    <link rel="stylesheet" href="{% static 'books/scroller.css' %}" />
  </head>
  <body>
    <div class="contain">
      <h1>Books</h1>
      <div class="row">
        <div class="tile">
          <div class="card">
            <div class="topic">Thermodynamics</div>
            <div class="author"><span>--by</span>  PK Naag</div>
            <div class="icon-container"><img src="{% static 'logo.png' %}"></div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="card">
            <div class="topic">Programming Fundamentals</div>
            <div class="author">PK Naag</div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="card">
            <div class="topic">Thermodynamics</div>
            <div class="author">PK Naag</div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="card">
            <div class="topic">Thermodynamics</div>
            <div class="author">PK Naag</div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="card">
            <div class="topic">Thermodynamics</div>
            <div class="author">PK Naag</div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="card">
            <div class="topic">Thermodynamics</div>
            <div class="author">PK Naag</div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
