{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Netflix Carousel</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'books/subject.css' %}" />
  </head>
  <body>
    <nav
      class="navbar navbar-dark bg-dark navbar-expand-md fixed-top navbar-shrink py-3"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img
            src="{% static 'logo.png' %}"
            width="40"
            height="40"
            alt=""
            style="filter: brightness(0) invert(1); margin-right: 10px"
          />
          <span>CollegeWorks</span></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/#our-services">Services</a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link active" href="/books">Resources</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/discuss">Discuss</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Homework</a></li>
          </ul>
          {% if user.is_authenticated %}<a
            class="navbar-brand d-flex align-items-center"
            href="/profile"
            ><img src="{% static 'usericon.png' %}" width="40" height="40" /></a
          ><a class="btn btn-primary shadow" role="button" href="/user/logout"
            >Log Out</a
          >{% else %}<a
            class="btn btn-primary shadow"
            role="button"
            href="/user/loginpage"
            >Log In</a
          >{% endif %}
        </div>
      </div>
    </nav>
    <div class="navbar_space" style="width: 100%; height: 50px"></div>
    {% if books|length > 0 %}
    <div class="contain">
      <h1>Books</h1>
      <div class="slider_row">
        {% for book in books %}
        <div class="tile">
          <div class="custom_card">
            <div class="topic">{{book.title}}</div>
            <div class="author"><span>--by</span>  {{book.author}}</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>{{book.specific_subject}}</p>
              <a href="{{book.link}}" class="download-link" target="_blank">Download</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %} 
    {% if notes|length > 0 %}
    <div class="contain">
      <h1>Notes</h1>
      <div class="slider_row">
        {% for note in notes %}
        <div class="tile">
          <div class="custom_card">
            <div class="topic">{{note.topic}}</div>
            <div class="author"><span>--by</span>  {{note.author}}</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>{{note.specific_subject}}</p>
              <a href="{{note.link}}" class="download-link" target="_blank">Download</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %} 
    {% if experiments|length > 0 %}
    <div class="contain">
      <h1>Experiments/Lab Manuals</h1>
      <div class="slider_row">
        {% for exp in experiments %}
        <div class="tile">
          <div class="custom_card">
            <div class="topic">{{exp.topic}}</div>
            <div class="author"><span>--by</span>  {{exp.author}}</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>{{exp.specific_subject}}</p>
              <a href="{{exp.link}}" class="download-link" target="_blank">Download</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %} 
    {% if assignments|length > 0 %}
    <div class="contain">
      <h1>Assignments</h1>
      <div class="slider_row">
        {% for assg in assignments %}
        <div class="tile">
          <div class="custom_card">
            <div class="topic">{{assg.topic}}</div>
            <div class="author"><span>--by</span>  {{assg.author}}</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>{{assg.specific_subject}}</p>
              <a href="{{assg.link}}" class="download-link" target="_blank">Download</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %} 
    {% if exams|length > 0 %}
    <div class="contain">
      <h1>Previous Year Papers</h1>
      <div class="slider_row">
        {% for exam in exams %}
        <div class="tile">
          <div class="custom_card">
            <div class="topic">{{exam.topic}}</div>
            <div class="author"><span>--by</span>  {{exam.author}}</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>{{exam.specific_subject}}</p>
              <a href="{{exam.link}}" class="download-link" target="_blank">Download</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if projects|length > 0 %}
    <div class="contain">
      <h1>Projects</h1>
      <div class="slider_row">
        {% for project in projects %}
        <div class="tile">
          <div class="custom_card">
            <div class="topic">{{project.topic}}</div>
            <div class="author"><span>--by</span>  {{project.author}}</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>{{project.specific_subject}}</p>
              <a href="{{project.link}}" class="download-link" target="_blank">Download</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="contain">
      <h1>Temporary</h1>
      <div class="slider_row">
        <div class="tile">
          <div class="custom_card">
            <div class="topic">Thermodynamics</div>
            <div class="author"><span>--by</span> PK Naag</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="custom_card">
            <div class="topic">Programming Fundamentals</div>
            <div class="author"><span>--by</span> PK Naag</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="custom_card">
            <div class="topic">Thermodynamics</div>
            <div class="author"><span>--by</span> PK Naag</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="custom_card">
            <div class="topic">Thermodynamics</div>
            <div class="author"><span>--by</span> PK Naag</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="custom_card">
            <div class="topic">Thermodynamics</div>
            <div class="author"><span>--by</span> PK Naag</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="custom_card">
            <div class="topic">Thermodynamics</div>
            <div class="author"><span>--by</span> PK Naag</div>
            <div class="icon-container">
              <img src="{% static 'logo.png' %}" />
            </div>
            <div class="bottom_container">
              <p>test para</p>
              <a href="/books/" class="download-link">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'assets2/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets2/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{% static 'assets2/js/bold-and-bright.js' %}"></script>
    <script src="{% static 'assets2/js/Lightbox-Gallery.js' %}"></script>
  </body>
</html>
